/* Global Styles */

/* ------------------------------- */

body {
    padding-top: 50px;
    background-color: #f8f8f8;
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 600px;
    background-color: #fff;
}

.form-group>label {
    margin-right: 5px;
}
.form-group.radio>label {
    font-weight: bold;
    padding-left: 0;
}
.form-group.radio>label.radio-inline {
    font-weight: normal;
    padding-left: 20px;
}

.form-horizontal .form-control-static,
.form-inline .form-control-static
{
    display: inline-block;
}
.panel-heading .form-group {
    margin-bottom: 0;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */
.navbar-default .navbar-toggle {
    float: left;
    margin: 13px 15px;
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */
.navmenu, .navbar-offcanvas {
    width: 250px;
}

.navmenu {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navmenu li a {
    display: block;
    text-decoration: none;
    color: #777;
}

.navmenu li a:hover {
    text-decoration: none;
    color: #333;
}

.navmenu li a:active,
.navmenu li a:focus {
    text-decoration: none;
}

.navmenu li li a {
    padding-left: 37px;
}
.navmenu li li li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
    #sidebar-wrapper {
        margin-top: 50px;
    }
}
@media(max-width:768px) {
    body {
        padding-top: 130px;
    }
    #sidebar-wrapper {
        margin-top: 130px;
    }
}
@media(min-width:992px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 600px;
        border-left: 1px solid #e7e7e7;
    }
}
@media(min-width:768px) and (max-width:992px) {
    #sidebar-toggle {
        display:block;
        position: absolute;
        z-index: 1000;
        margin: 8px 0;
    }
}
@media(max-width:768px) {
    #sidebar-toggle {
        display:block;
        position: absolute;
        z-index: 1000;
    }
}



/* Additional styles */
th.actions {
    width: 250px;
}

#page-wrapper .actions {
    margin: 40px 0 20px;
}

@media(max-width:991px) {
    #page-wrapper .page-header {
        margin: 20px 0 10px;
    }
    #page-wrapper .actions {
        margin-top: 10px;
    }
}

/* breadcrumb */
#breadcrumb .breadcrumb {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

#breadcrumb .breadcrumb > li + li:before {
  padding: 0;
  content: "";
}
#breadcrumb .breadcrumb li {
    padding: 15px 8px 15px 22px;
    line-height: 20px;
    vertical-align: bottom;
}
#breadcrumb .breadcrumb li.first {
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}
#breadcrumb .breadcrumb li a,
#breadcrumb .breadcrumb ul li a span
{
    display: block;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

#breadcrumb .breadcrumb li:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
#breadcrumb .breadcrumb li:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 2;
}

@media(min-width:768px) and (max-width:992px) {
    .navbar-breadcrumb {
        margin-left: 45px;
    }
}
@media(max-width:768px) {
    .navbar-breadcrumb {
        margin-left: 75px;
    }
}
